
<ng-container *ngIf="!isLoaded">
    <mat-spinner class="center"></mat-spinner>
</ng-container>

<div class="container">
    <ng-container *ngIf="noRoom">
        no room
    </ng-container>
    
    <ng-container *ngIf="room$ | async as room">
    
        <ng-container *ngIf="room.active; else notActive">

            <mat-form-field>
                <input matInput placeholder="Search Track" type="search" #searchInput (keyup.enter)="searchNow(searchInput.value)"> 
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <!-- <button mat-raised-button color="warn" (click)="searchNow(searchInput.value)">Search</button> -->

            <ng-container *ngIf="searchResult$ | async as result">

                <mat-grid-list [cols]="numCols" rowHeight="300px">
        
                    <ng-container *ngFor="let item of result.tracks.items">

                        <mat-grid-tile *ngIf="room.allowExplicit; else restricted;">
                            <app-search-tile [url]="item.album.images[0].url" [name]=" (item.name.length > 40) ? (item.name | slice:0:40) + '...' : item.name " [trackId]="item.uri"></app-search-tile>
                        </mat-grid-tile>

                        <ng-template #restricted>
                            <mat-grid-tile *ngIf="!item.explicit">
                                <app-search-tile [url]="item.album.images[0].url" [name]=" (item.name.length > 40) ? (item.name | slice:0:40) + '...' : item.name " [trackId]="item.uri"></app-search-tile>
                            </mat-grid-tile>
                        </ng-template>
                        
                    </ng-container>

                </mat-grid-list>
    
            </ng-container>
    
        </ng-container>
        
        <ng-template #notActive>
            not active
        </ng-template>
        
    </ng-container>
</div>


    



    