.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container {
    padding: 15px 15px 15px 15px;
}

.body {
    background-color: rgb(233, 233, 233);
}

mat-form-field {
    width: 100%;
}