img {
    margin: 0 auto;    
    width: 150px;
}

.container {
    width: 150px;
    height: 255px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.heading {
    padding-top: 8px;
    font-size: medium;
}

.button {
    position: absolute;
    bottom: 15px;
    right: 15px;
}